/* Stadium CSS */
.stadium-filter-form-display.stadium-filter-container {
    margin-top: 1rem;

    .visually-hidden {
        height: 0;
        width: 0;
        overflow: hidden;
        outline: 0;
        border: 0;
        position: absolute;
        padding: 0;
    }

    .stadium-filters {
        border: 0.1rem solid var(--repeater-integrated-filter-border-color, var(--GENERAL-BORDER-COLOR));
        background-color: var(--filter-background-color, var(--BODY-BACKGROUND-COLOR));
        display: grid;
        grid-template-columns: minmax(min-content, max-content) max-content minmax(12rem, 1fr);
        align-items: center;
        padding: 0 0.6rem 1rem 0.6rem;
    }

    .stadium-filter-inner-container {
        overflow: hidden;
    }

    input:not([type='checkbox'], [type='radio']) {
        width: 100%;
        max-width: 30rem;
    }

    select.form-control {
        min-width: 13.5rem;
        width: 100%;
    }

    select.form-control[readonly='readonly'] {
        user-select: none;
        pointer-events: none;
        background-color: var(--FORM-CONTROL-BACKGROUND-COLOR, #f9f9f9);
        background-image: none;
    }

    .filtergrid-enum-operator > select.form-control,
    .filtergrid-boolean-operator > select.form-control,
    .filtergrid-checkbox-list > div {
        width: auto;
        max-width: 30rem;
    }
    .filtergrid-enum-operator:has(~.drop-down-container) > select.form-control,
    .drop-down-container ~ .filtergrid-enum-operator > select.form-control,
    .filtergrid-boolean-operator:has(~.drop-down-container) > select.form-control,
    .drop-down-container ~ .filtergrid-boolean-operator > select.form-control,
    .filtergrid-checkbox-list:has(~.drop-down-container) > div,
    .drop-down-container ~ .filtergrid-checkbox-list > div {
        width: 100%;
        max-width: 45rem;
    }

    .filter-operator {
        max-width: 13.5rem;
    }

    .control-container:has(.filtergrid-text-value),
    .filtergrid-text-value {
        padding-right: 0;
    }

    .number-values {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;

        &>.form-control {
            width: calc(50% - 0.5rem);
            max-width: 14.5rem;
        }
    }

    .date-values {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;

        &>.form-control {
            width: calc(50% - 0.5rem);
            max-width: 14.5rem;
        }
    }

    .filtergrid-checkbox-list,
    .filtergrid-radiobutton-list {
        padding: 0.6rem;
        margin-right: 0;
    }

    .label-container {
       overflow-wrap: break-word;
    }

    .label-container:has(+ .filtergrid-checkbox-list) {
        align-self: self-start;
    }

    .filter-button-bar {
        grid-column: 1 / 3;
        padding-bottom: 0.6rem;
        display: flex;
        > .button-container:nth-child(1) {
            order: var(--filter-clear-button-position, 1);
        }
    }
    .filtergrid-from-date:has(+ .visually-hidden),
    .filtergrid-from-number:has(+ .visually-hidden) {
        width: 100%;
        max-width: 30rem;
    }

    .no-display {
        display: none;
    }
    .span-2 {
        grid-column: 2 / span 2;
        padding-right: 0;
    }
}

.stadium-filter-chips-display.stadium-filter-container {
    .stadium-filter-inner-container {
        display: flex;
        flex-wrap: nowrap;
    }
    .stadium-filters {
        border: 0;
        background-color: transparent;
        display: inline-flex;
        row-gap: calc(var(--filter-chips-font-size, 1.1rem) + 0.5rem);
        column-gap: 1rem;
        flex-wrap: wrap;
        padding: 0.6rem;
    }
    .stadium-filter-chip {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        height: var(--filter-chips-chip-height, 3rem);
        width: var(--filter-chips-chip-width, 13rem);

        .control-container {
            padding-right: 0;
        }
        .form-control {
            height: var(--filter-chips-chip-height, 3rem);
            padding: 0 0 0 var(--filter-chips-chip-left-padding, 0.2rem);
            color: var(--FORM-CONTROL-FONT-COLOR);
            background-color: var(--FORM-CONTROL-BACKGROUND-COLOR);
            border-top: var(--FORM-CONTROL-BORDER-TOP-WIDTH) solid var(--FORM-CONTROL-BORDER-TOP-COLOR);
            border-right: var(--FORM-CONTROL-BORDER-RIGHT-WIDTH) solid var(--FORM-CONTROL-BORDER-RIGHT-COLOR);
            border-bottom: var(--FORM-CONTROL-BORDER-BOTTOM-WIDTH) solid var(--FORM-CONTROL-BORDER-BOTTOM-COLOR);
            border-left: var(--FORM-CONTROL-BORDER-LEFT-WIDTH) solid var(--FORM-CONTROL-BORDER-LEFT-COLOR);
            border-radius: var(--FORM-CONTROL-BORDER-RADIUS);
        }
        .label-container {
            position: absolute;
            top: calc((var(--filter-chips-label-font-size, 1.1rem) + 0.1rem) * -1);
            left: 0;
            font-size: var(--filter-chips-label-font-size, 1rem);
            font-style: var(--filter-chips-label-font-style, italic);
            color: var(--filter-chips-label-font-color, var(--BODY-FONT-COLOR));
            padding: 0;
            span {
                white-space: nowrap;
            }
        }
        .filtergrid-enum-operator select,
        .filtergrid-boolean-operator select {
            font-size: var(--filter-chips-font-size, 1.1rem);
            width: var(--filter-chips-chip-width, 13rem);
            background-position: calc(100% - 1rem) 0.8rem, calc(100% - 0.5rem) 0.8rem, calc(100% - 2rem) 0.2rem;
            border-radius: var(--filter-chips-chip-border-radius, 0.5rem);
        }
        .filter-operator {
            border-top-left-radius: var(--filter-chips-chip-border-radius, 0.5rem);
            border-bottom-left-radius: var(--filter-chips-chip-border-radius, 0.5rem);
            font-size: var(--filter-chips-font-size, 1.1rem);
            width: var(--filter-chips-operators-width, 3rem);
            background-image: none;
            background-position: calc(100% - 1rem) 0.8rem, calc(100% - 0.5rem) 0.8rem, calc(100% - 2rem) 0.2rem;
            padding: 0 0 0 var(--filter-chips-chip-left-padding, 0.2rem);
            color: var(--filter-chips-operators-font-color, var(--FORM-CONTROL-FONT-COLOR));
            text-align: center;
            border-right: 0.1rem solid var(--DARKER-GREY);
        }
        .filter-operator:open {
            text-align: left;
        }
        .text-box-container input {
            font-size: var(--filter-chips-font-size, 1.1rem);
            width: calc(var(--filter-chips-chip-width, 13rem) - var(--filter-chips-operators-width, 3rem));
            padding-left: var(--filter-chips-chip-left-padding, 0.2rem);
            border-left: 0;
            border-top-right-radius: var(--filter-chips-chip-border-radius, 0.5rem);
            border-bottom-right-radius: var(--filter-chips-chip-border-radius, 0.5rem);
        }
        .date-values,
        .number-values {
            display: flex;
            flex-wrap: nowrap;
            margin-top: var(--CONTROL-CONTAINER-TOP-MARGIN);
            input {
                font-size: var(--filter-chips-font-size, 1.1rem);
                width: calc((var(--filter-chips-chip-width, 13rem) - var(--filter-chips-operators-width, 3rem)) / 2);
                border-left: 0;
                padding-left: var(--filter-chips-chip-left-padding, 0.2rem);
                border-right: 0.1rem solid var(--DARKER-GREY);
            }
            input:has(+ .visually-hidden) {
                width: calc(var(--filter-chips-chip-width, 13rem) - var(--filter-chips-operators-width, 3rem));
                border-top-right-radius: var(--filter-chips-chip-border-radius, 0.5rem);
                border-bottom-right-radius: var(--filter-chips-chip-border-radius, 0.5rem);
                border-right: var(--FORM-CONTROL-BORDER-RIGHT-WIDTH) solid var(--FORM-CONTROL-BORDER-RIGHT-COLOR);
            }
            input:last-of-type {
                border-top-right-radius: var(--filter-chips-chip-border-radius, 0.5rem);
                border-bottom-right-radius: var(--filter-chips-chip-border-radius, 0.5rem);
                border-right: var(--FORM-CONTROL-BORDER-RIGHT-WIDTH) solid var(--FORM-CONTROL-BORDER-RIGHT-COLOR);
            }
            .visually-hidden {
                height: 0;
                width: 0;
                overflow: hidden;
                outline: 0;
                border: 0;
                position: absolute;
                padding: 0;
            }
        }
        .filtergrid-checkbox-list {
            width: 100%;
            label {
                font-size: var(--filter-chips-font-size, 1.1rem);
            }
        }
    }

    .check-box-list-container:has(.stadium-multi-select-checkboxlist) {
        border: 0;
        position: relative;
        margin-top: 0;
        background: transparent;
        margin-right: 0;

        &:after {
            top: 0;
            right: 0;
        }

        .stadium-multi-select-checkboxlist {
            display: none;
            position: absolute;
            z-index: 10;
            top: 3.3rem;
            left: -0.1rem;
            border: 0.1rem solid var(--filter-chips-checkbox-list-border-color, var(--GENERAL-BORDER-COLOR));
            width: 100%;
            background-color: var(--filter-chips-checkbox-list-background-color, var(--BODY-BACKGROUND-COLOR, #f9f9f9));
            > div:not(.stadium-multi-select-dropdown-header, .checkbox) {
                box-shadow: rgba(0, 0, 0, 0.07) 0 0.1rem 0.1rem, rgba(0, 0, 0, 0.07) 0 0.2rem 0.2rem, rgba(0, 0, 0, 0.07) 0 0.4rem 0.4rem, rgba(0, 0, 0, 0.07) 0 0.8rem 0.8rem, rgba(0, 0, 0, 0.07) 0 1.6rem 1.6rem;
                background-color: var(--multi-select-background-color, var(--CHECK-BOX-LIST-CONTAINER-BACKGROUND-COLOR));
            }
        }
        .stadium-multi-select-dropdown-header {
            display: flex;
            align-items: center;
            height: var(--filter-chips-chip-height, 3rem);
            width: var(--filter-chips-chip-width, 13rem);
            cursor: pointer;
            user-select: none;
            font-size: var(--filter-chips-font-size, 1.1rem);
            border-radius: var(--filter-chips-chip-border-radius, 0.5rem);
            border-top: var(--FORM-CONTROL-BORDER-TOP-WIDTH) solid var(--FORM-CONTROL-BORDER-TOP-COLOR);
            border-right: var(--FORM-CONTROL-BORDER-RIGHT-WIDTH) solid var(--FORM-CONTROL-BORDER-RIGHT-COLOR);
            border-bottom: var(--FORM-CONTROL-BORDER-BOTTOM-WIDTH) solid var(--FORM-CONTROL-BORDER-BOTTOM-COLOR);
            border-left: var(--FORM-CONTROL-BORDER-LEFT-WIDTH) solid var(--FORM-CONTROL-BORDER-LEFT-COLOR);
            background-color: var(--FORM-CONTROL-BACKGROUND-COLOR);
            padding: 0 0 0 var(--filter-chips-chip-left-padding, 0.2rem);
            color: var(--FORM-CONTROL-FONT-COLOR);
            background-image: linear-gradient(45deg, transparent 50%, var(--DROP-DOWN-FONT-COLOR) 50%), linear-gradient(135deg, var(--DROP-DOWN-FONT-COLOR) 50%, transparent 50%);
            background-position: calc(100% - 1rem) 0.8rem, calc(100% - 0.5rem) 0.8rem, calc(100% - 3rem) 0.6rem;
            background-size: 0.5rem 0.5rem, 0.5rem 0.5rem, 0.1rem 1.8rem;
            background-repeat: no-repeat;
        }
    }
    .check-box-list-container.expand:has(.stadium-multi-select-checkboxlist) {
        .stadium-multi-select-checkboxlist {
            display: block;
            box-shadow: rgba(0, 0, 0, 0.07) 0 0.1rem 0.1rem, rgba(0, 0, 0, 0.07) 0 0.2rem 0.2rem, rgba(0, 0, 0, 0.07) 0 0.4rem 0.4rem, rgba(0, 0, 0, 0.07) 0 0.8rem 0.8rem, rgba(0, 0, 0, 0.07) 0 1.6rem 1.6rem;
            .checkbox {
                display: flex;
                align-items: center;
            }
        }
    }
}
.filter-buttons.row-display {
    flex-direction: row;
}
.filter-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .control-container {
        margin-top: 0.1rem;
        padding-right: 0.1rem;
    }
    button:is(.btn-default),
    button:is(.btn-default):hover {
        font-size: var(--filter-chips-font-size, 1.1rem);
        padding: 0.2rem 0.6rem;
    }
    .apply-button *:is(.btn-default) {
        background-image: var(--filter-chips-apply-button-icon, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --%3E%3Cpath fill='%23333333' d='m9.55 15.15l8.475-8.475q.3-.3.7-.3t.7.3t.3.713t-.3.712l-9.175 9.2q-.3.3-.7.3t-.7-.3L4.55 13q-.3-.3-.288-.712t.313-.713t.713-.3t.712.3z'/%3E%3C/svg%3E"));
        background-repeat: no-repeat;
        background-size: var(--filter-chips-apply-button-icon-size, 2.5rem);
        background-color: transparent;
        background-position: center;
        height: var(--filter-chips-apply-button-icon-size, 2.5rem);
        width: var(--filter-chips-apply-button-icon-size, 2.5rem);
        box-shadow: none;
   }
    .clear-button *:is(.btn-default) {
        background-image: var(--filter-chips-clear-button-icon, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --%3E%3Cpath fill='%23333333' d='m12 13.4l-2.917 2.925q-.277.275-.704.275t-.704-.275q-.275-.275-.275-.7t.275-.7L10.6 12L7.675 9.108Q7.4 8.831 7.4 8.404t.275-.704q.275-.275.7-.275t.7.275L12 10.625L14.892 7.7q.277-.275.704-.275t.704.275q.3.3.3.713t-.3.687L13.375 12l2.925 2.917q.275.277.275.704t-.275.704q-.3.3-.712.3t-.688-.3z'/%3E%3C/svg%3E"));
        background-repeat: no-repeat;
        background-size: var(--filter-chips-apply-button-icon-size, 2.5rem);
        background-color: transparent;
        background-position: center;
        border-color: transparent;
        height: var(--filter-chips-apply-button-icon-size, 2.5rem);
        width: var(--filter-chips-apply-button-icon-size, 2.5rem);
        box-shadow: none;
    }
    .apply-button *:is(.btn-default:hover), 
    .clear-button *:is(.btn-default:hover) {
        border: 0.1rem solid var(--BUTTON--BUTTON-BORDER-COLOR);
    }
}
html {
    min-height: 100%;
    font-size: 62.5%;
}